{% extends 'base.html.twig' %}

{% block title %}New Salutation{% endblock %}

{% block body %}
    <h1>Create new Salutation</h1>

    {{ include('salutation/_form.html.twig') }}

    <a href="{{ path('salutation_index') }}">back to list</a>
{% endblock %}